doc
pkg
tmp
*.o
*.bundle
*.so
*.jar
.DS_Store
.rbenv-gemsets

# windows build artifacts
/win_gem_test/shared/
/win_gem_test/packages/
/win_gem_test/test_logs/
/Rakefile_wintest
*.gem
/lib/puma/puma_http11.rb
