name: Test Suite

# Run against all commits and pull requests.
on: [ push, pull_request ]

env:
  JAVA_OPTS: '-Xms60M -Xmx1G'

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 3.1

  test:
    needs: ruby-versions
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        include:
          - { os: windows-latest, ruby: jruby-head }
          - { os: macos-latest, ruby: jruby-head }
          - { os: ubuntu-latest, ruby: jruby-head }
          - { os: windows-latest, ruby: ucrt }
          - { os: windows-latest, ruby: mingw }
          - { os: macos-latest, ruby: truffleruby }
          - { os: ubuntu-latest, ruby: truffleruby }
          - { os: macos-latest, ruby: truffleruby-head }
          - { os: ubuntu-latest, ruby: truffleruby-head }

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby-pkgs@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          apt-get: "haveged libyaml-dev"
          brew: libyaml
          vcpkg: libyaml

      - name: Set JRuby ENV vars
        run: |
          echo 'JAVA_OPTS=-Xmx1g' >> $GITHUB_ENV
        if: ${{ ! startsWith(matrix.ruby, 'jruby') }}

      - name: Install dependencies
        run: bundle install --jobs 1

      - name: Run tests
        run: bundle exec rake
        continue-on-error: ${{ matrix.ruby == 'jruby-head' }}
