name: Test Suite

# Run against all commits and pull requests.
on: [ push, pull_request ]

jobs:
  test_matrix:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
          - windows
        ruby:
          - '2.1'
          - '2.2'
          - '2.3'
          - '2.4'
          - '2.5'
          - '2.6'
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
          - '3.5.0-preview1'
          - 'head'
          - 'jruby'
          - 'jruby-head'
          - 'truffleruby'
          - 'truffleruby-head'
          - 'mingw'
        exclude:
          - { os: ubuntu,  ruby: '2.1' }
          - { os: ubuntu,  ruby: '2.2' }
          - { os: ubuntu,  ruby: '2.5' }
          - { os: ubuntu,  ruby: '2.6' }
          - { os: ubuntu,  ruby: 'mingw' }
          - { os: macos,   ruby: 'mingw' }
          - { os: macos,   ruby: '2.1' }
          - { os: macos,   ruby: '2.2' }
          - { os: macos,   ruby: '2.3' }
          - { os: macos,   ruby: '2.4' }
          - { os: macos,   ruby: '2.5' }
          - { os: macos,   ruby: '2.6' }
          - { os: windows, ruby: 'truffleruby' }
          - { os: windows, ruby: 'truffleruby-head' }
          - { os: windows, ruby: '2.2' }
          - { os: windows, ruby: '2.3' }
          - { os: windows, ruby: '2.5' }
          - { os: windows, ruby: '2.6' }
          - { os: windows, ruby: 'head' }
          - { os: windows, ruby: '3.5.0-preview1' }

    runs-on: ${{ matrix.os }}-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
        env:
          JAVA_OPTS: -Djdk.io.File.enableADS=true
      - name: Run tests
        run: bundle exec rake default
        env:
          JAVA_OPTS: -Djdk.io.File.enableADS=true

  test_matrix_old_rubies:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - macos-13
        ruby:
          - '2.1'
          - '2.2'
          - '2.3'
          - '2.4'
          - '2.5'
        exclude:
          - { os: macos-13,  ruby: '2.5' }

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake default

  finish:
    runs-on: ubuntu-latest
    needs: [ test_matrix ]
    steps:
      - name: Wait for status checks
        run: echo "All Green!"
